.radio_select {
    display: flex;
    justify-content: end;
    width: 100%;
    .btnitem {
        padding: 0.2vh 1vh;
        cursor: pointer;
        font-size: 1.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2vh 0.5vh;
        border-radius: 10vh;
        background: rgba(3, 50, 81, 0.7);
        border: 1px solid #2080E8
    }

    .active {
        border: 1px solid #ffffff;
        background-color: #0376C3;
    }
}