.editBox {
  height: 400px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
  :global {
    .editor-item {
      display: inline-block;
      background-color: red;
    }
  }
}