.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  main {
    display: flex;
    gap: 30px;

    .left {
      flex-grow: 2;
      flex-shrink: 2;
      width: 52vw;
    }

    .right {
      flex-grow: 1;
      flex-shrink: 1;
      width: 40vw;
    }

    .left,
    .right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
