.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container main {
  display: flex;
  gap: 30px;
}
.container main .left {
  flex-grow: 2;
  flex-shrink: 2;
  width: 52vw;
}
.container main .right {
  flex-grow: 1;
  flex-shrink: 1;
  width: 40vw;
}
.container main .left,
.container main .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container main .block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
