._index {

    .index_item {
        width: 100%;
        height: 5.5vh;
        margin-bottom: 1vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: left center;
        display: flex;
        justify-content:start;
        align-items: center;
        font-size: 1.3vh;
        padding-left: 20%;
        &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
            cursor: pointer;
            
        }
        .icon_box{
            width: 20%;
            margin-right: 10%;
            .icon_ {
                height: 3.3vh;
                width: 3.3vh;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: left center;
                margin-right: 1.4vh;
            }
        }
        .count{
            line-height: 1.8vh;
        }
    }
}