.screen_main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  color: #ffffff;

  .main_top {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    display: flex;
    flex: 1;
    padding: 0 1.5vh 0 1.5vh;

    .column {
      width: 25%;
      position: relative;
      z-index: 9;
    }

    .column:nth-child(2) {
      width: 50%;
      z-index: -10;
    }

    .column:first-child {
      min-height: 100%; // 高度撑到底部
      padding-right: 3vh;
    }

    .column:last-child {
      z-index: 999;
      padding-left: 3vh;
    }
  }


  .center_table {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    bottom: 0;
    z-index: 1003; // 在内容下方
    margin-bottom: 2.5vh;
  }

  .map {
    // background-image: url('~@/assets/screen/bg.png');
    background-repeat: no-repeat;
    // background-size: 90% 80%;
    /* 背景图宽高都适配 div */
    background-position: center bottom;
    /* 图片左对齐，垂直居中 */
    background-color: #000B21;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .map_center {
      // background-color: antiquewhite;
      margin-top: 80px;
      height: 55%;
      width: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 996;
    }
  }

  .custom_select {
    width: 4vw;
    font-size: 1.5vh; // 缩小字体防止撑开高度
    max-height: 3.2vh;
    color: #ffffff !important;

    .ant-select-selector {
      background-color: #ffffff1a !important;
    }

    .ant-select-selection-placeholder {
      color: #ffffff !important;
      font-size: 1.4vh;
    }

    .ant-select-arrow {
      color: #ffffff; // 根据需要可改颜色
      font-size: 1.4vh;
    }

    .ant-select-focused.css-dev-only-do-not-override-12puf7y.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
      border-color: #ffffff1a !important;
    }

    .ant-select-selection-item {
      color: #ffffff;
      font-weight: 600;
      font-size: 1.4vh;
    }
  }

  .earth_index {
    position: absolute;
    left: 28%;
    width: 18vh;
    top: 23vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
    z-index: 1002;
  }

  .select_radio {
    position: absolute;
    left: 60%;
    top: 20vh;
    z-index: 1002;
  }

  .center_title2 {
    position: absolute;
    left: 17%;
    right: 17%;
    width: 66%;
    top: 10vh;
    height: 10vh;
    // z-index: 999;
  }

  .fullscreen{
    position: absolute;
    top: 0;
    z-index: 10;
    .fullscreen_icon{
      margin-left: 1.5vh;
      font-size: 1.5vh;
        &:hover {
            transform: scale(1.3);
         }
    }
  }
}




.custom-radio-group {
  .ant-radio-button-wrapper {
    max-height: 3.2vh;
    font-size: 1.5vh; // 缩小字体防止撑开高度
    font-size: 1.4vh;
  }
}

.custom-radio-group .ant-radio-button-wrapper {
  // background-color: transparent !important;
  // color: white;
  // border-color: white;
  // transition: all 0.3s;
  // height: 3vh !important;
}

.custom-radio-group .ant-radio-button-wrapper:hover {
  // color: #FF9805;
  // border-color: #FF9805;
}

.custom-radio-group .ant-radio-button-wrapper-checked {
  // color: #FF9805 !important;
  // border-color: #FF9805 !important;
  // background-color: rgba(255, 152, 5, 0.15); // 可选，半透明背景提升视觉反馈
  // z-index: 1;
}

.custom-radio-group .ant-radio-button-wrapper-checked:hover {
  // color: #FF9805;
  // border-color: #FF9805;
}



.custom_picker {
  max-height: 3.2vh;
  font-size: 1.5vh; // 缩小字体防止撑开高度
  color: #ffffff !important;

  .ant-picker-input {
    color: #ffffff !important;
    font-size: 1.4vh;
  }

  .ant-picker {
    // background-color: #ffffff1a !important;
    font-size: 1.4vh;
  }

  .ant-picker-input>input {
    // background-color: #ffffff1a !important;
    font-size: 1.4vh;
  }

  .ant-picker-range-separator {
    // background-color: #ffffff1a !important;
    font-size: 1.4vh;
  }

  .ant-picker-suffix {
    color: #ffffff !important;
  }
}