.header_main{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background: #114b70;
  padding: 15px 10px;
  opacity: 0.9;
  .name{
    color: rgb(255, 253, 253);
    font-size: 20px;
  }
  .title{
    color: white;
    font-size: 25px;
    font-weight: 900;
  }

.time {
  font-size: 14px;
  color: white;
}

.redTime {
  color: #55c2e5;
  font-size: 20px;
  font-weight: 700;
}

}