.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  .content{
    background-image: url('@/assets/dashbord/blockbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
    display: flex;
    height: calc((100vh - 46px) * 0.16);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    img{
      width: 15vh;
    }
  }

}
