.header_main {
  display: flex;
  align-items: start;  
  height: 120px;
  background: url('~@/assets/screen/title.png') no-repeat center center;
  // background: linear-gradient(to bottom, transparent, #051f4e);
  // background-color: #051f4e;
  .name {
    height: 100%;
    width: 30%;
    font-family: AlibabaPuHuiTi-Bold;
    font-weight: 700;
    font-size: 24px;
    color: #F2F2F2;
    letter-spacing: 0.96px;
    text-align: start;
    padding: 20px 0 0 25px;
    background: linear-gradient(to right, #051f4e, transparent);
  }

.title {
  font-size: 56px;
  font-weight: 900;
  width: 40%;
  line-height: 85px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #FFFFFF, #00C9FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  .time {
    font-size: 14px;
    height: 100%;
    width: 30%;
    color: white;
    text-align: end;
    padding: 20px 20px 0 0;
    font-weight: 400;
    font-size: 14px;
    background: linear-gradient(to left, #051f4e, transparent);
    span{
      margin: 0 10px 0 0;
    }
  }

  .redTime {
    color: #55c2e5;
    font-size: 20px;
    font-weight: 700;
  }
}
.header_bg{
  // background: linear-gradient(to bottom, #02113a, transparent);
    background-image: linear-gradient(180deg, #02123B 0%, #021643d6 47%, #05296d00 100%);
}
