.staticitem{
    height: 15%;
    width: 86%;
    position: relative;
    margin-left: 10%;

    .staticvalue{
        color: #FFD15C;
        font-family: 'DS-DIGIT-3', sans-serif;
        text-shadow: 2px 2px 4px rgba(0.8, 0.9, 1, 1);
        position: absolute;
        top: -60%;
        left: 3%;
        font-size:1.5vw;
    }
    .valueshadow{
        position: absolute;
        left: 10%;
        font-size:1.4vw;
        color: #042e71;
    }
    .statictitle{
        width: 100%;
        align-items: start;
        display: flex;
        margin-left: 43%;
        margin-top: 5%;
        p{ 
            position: absolute;
            text-align: start;
            line-height: 0.7vw;
            width: 40%;
            font-size: 0.8vw;
        }
    }
}

.containt{
    background-image: url('@/assets/dashbord/dataItembg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
}