@font-face {
  font-family: 'DS-DIGIT-3';
  src: url('@/assets/dashbord/youshebiaotihei.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.minSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .content{
    background-image: url('@/assets/dashbord/blockbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
    display: flex;
    height: 18.5vh;
    justify-content: center;
    align-items: center;
    flex: 1;


          
      .lefcolumn{
        width: 20%;
        height: 100%;
        img{
          height: 3.5vh;
          margin-bottom: 0.2rem;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding:0.5vw;
        .block{
          background-image: url('@/assets/dashbord/group.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 0.6vw;
          p{
            font-size: 0.8vw;
            color: #FFD15C;
            font-family: 'DS-DIGIT-3', sans-serif;
            line-height: 0.6vw;
          }
        }
      }


      .rightcolumn{
        flex: 1;
        height: 100%;
        padding: 0.5vw;
        background-image: url('@/assets/dashbord/blockbg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: left center;
        .title{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.1vw;
          img{
            margin-right: 0.3vw;
            width: 1.1vh;
          }
          .icon{
            display: flex;
            justify-content: start;
            align-items: center;
            .desc{
              color: #BFE7F9;
            }
          }
            .more{
              font-family: 'DS-DIGIT-3', sans-serif;
              color: #70B0FF;
              cursor: pointer;
              &:hover{
                transform: scale(1.1);
              }
            }
        }


      }
  }

}
