.treat{
     position: relative;
    .treat_title{
        display: flex;
        justify-content:space-between;
        align-items: start;
        font-size: 1.3vh;
        margin-top:1vh
    }
    .datalist{
        position: absolute;
        top:3.4vh;
        left: 91%;
        height: 73%;
        display: flex;
        font-size: 1.5vh;
        .datalist_box{
           display: flex;
           flex-direction: column;
           justify-content: space-around;
        }
    }
}