.custom_data_picker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .custom_select {
    width: 4vw;

    .ant-select-selector {
      background-color: #ffffff1a !important;
    }

    .ant-select-arrow {
      color: #ffffff1a; // 根据需要可改颜色
    }

    .ant-select-focused.css-dev-only-do-not-override-12puf7y.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
      border-color: #ffffff1a !important;
    }

    .ant-select-selection-item{
      color: #ffffff;
      font-weight: 600;
    }
  }


  

  .custom_picker {
    .ant-picker {
      // background-color: #ffffff1a !important;
    }

    .ant-picker-input > input {
      // background-color: #ffffff1a !important;
    }

    .ant-picker-range-separator {
      // background-color: #ffffff1a !important;
    }
  }
}
